
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&display=swap');

@font-face{
    font-family: NexaExtraLight;
    src: url("Nexa-ExtraLight.ttf");
}

@font-face{
    font-family: NexaHeavy;
    src: url("Nexa-Heavy.ttf");
}

.container{
    height: auto;
    background-color: rgb(0, 0, 0);
}

.head{
    width: 100%;
    height: 100px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.name{
    font-family: "NexaHeavy";
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

.head_div_1{
    margin-left: 50px;
    margin-top: 10px;
}

.head_div_2{
    margin-right: 50px;
    margin-top: 25px;
}



.head_btn_1, .head_btn_2, .head_btn_3{
    width: 62px;
    height: 62px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffe137;
    cursor: pointer;
    border-radius: 10px;
    border-color: rgb(39, 39, 39);
    border-width: 2px;
    border-style: solid;
    box-shadow: 3px 3px 1px  rgb(255, 255, 255); 
    transition: box-shadow 0.4s ease-out;
}

.head_btn_1:hover, .head_btn_2:hover, .head_btn_3:hover{
    box-shadow: 2px 2px 1px; 
}

.logo_discord{
    margin-top: 5px;
    width: 30px;
    height: 25px;
    
}

.logo_telegram{
    margin-top: 5px;
    width: 30px;
    height: 27px;
}

.logo_instagram{
    margin-top: 5px;
    width: 27px;
    height: 26px;
}


.space_between{
    width: 100%;
    height: 700px;
}


.cards_div {
    display: flex;
  justify-content: space-around;
  width: 80%;
  top: 0;
  transition: transform 0.6s ease-out;
}
  
  .card1_, .card2_, .card3_, .card4_{
    height: auto;
    overflow-x: hidden;
    margin-left: 100px;
  }

.card1_{
    z-index: 2;
    left: 150px;
    margin-top: 200px;
    width: 350px;
}

.card2_{
    z-index: 1;
    margin-top: 40px;
    width: 500px;
}

.card3_{
    left: 250px;
    z-index: 3;
    margin-top: 400px;
    width: 350px;
}

.card4_{
   left: 40%;
   z-index: 2;
    margin-top: 200px;
    width: 400px;
    
}

.form_div{
    width: 100%;
    height: 800px;
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.form_texts_div{
    margin-top: 5px;
    height: 180px;
}

  
.form_title{
    font-family: "NexaHeavy";
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  font-size: 60px;
  text-align: center;
  
}


.form_subtitle{
    font-family: "NexaHeavy";
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  margin-top: 35px;
  font-size: 25px;
  width: 900px;
  text-align: center;
  margin-bottom: 30px;
}


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_name{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 55px;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    box-shadow: 3px 3px 1px  rgb(255, 255, 255);
    padding-left: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    background-image: url("../images/name-icon.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 420px) ;
    background-size: 15px;
}

.form_email{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 55px;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    box-shadow: 3px 3px 1px  rgb(255, 255, 255);
    padding-left: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;

    background-image: url("../images/email-icon.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 420px) ;
    background-size: 15px;
}

.submit_btn{
    width: 415px;
    height: 55px;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    box-shadow: 3px 3px 1px  rgb(255, 255, 255);

    margin-top: 10px;
    background-color: #ffe137;
    cursor: pointer; 
    transition: box-shadow 0.5s ease-in-out;
    /*font-family: "Roboto", sans-serif;*/
    font-family: "NexaHeavy";
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}

.submit_btn:hover{
    box-shadow: 1px 1px 1px; 
}

.info_div{
    width: 300px; 
    color: #000000;
    display: flex;
    flex-direction: column;
    margin-left: 900px;
    margin-top: 120px;
    height: 800px;
}

.info1, .info2, .info3{
    width: 300px;
    background-color: #ffe137;
    padding: 20px;
    border-radius: 10px;
    border-color: #333333;
    border-width: 2px;
    border-style: solid;
    box-shadow: 3px 3px 1px  rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 11px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info1 h2 {
    font-weight: 350;
}

.info2 h2 {
    font-weight: 350;
}

.info3 h2 {
    font-weight: 350;
}

.info4 h2 {
    font-weight: 350;
}


.bottom_img_div{
    margin: 0px;
    padding: 0px;
    bottom: 0;
    left: 0;
    height: auto;
}

.bottom_img{
    width: 100%;
    
    margin: 0px;
    padding: 0px;
    display: block;
    height: 100px;
}



@media (max-width: 1250px) {
    .info_div{
        margin-left: 700px;
    }

    .form_texts_div{
        margin-top: 5px;
        height: 180px;
    }

    .form_subtitle{
        margin-top: 35px;
    }
}

@media (max-width: 1200px) {

    .form_texts_div{
        margin-top: 5px;
        height: 180px;
    }

    .form_subtitle{
        margin-top: 35px;
    }
    
    .card1_{
        left: 70px;
        margin-top: 200px;
        width: 350px;
    }
    
    .card2_{
        z-index: 1;
        margin-top: 40px;
        width: 500px;
    }
    
    .card3_{
        left: 150px;
        z-index: 3;
        margin-top: 400px;
        width: 350px;
    }
    
    .card4_{
       left: 40%;
       z-index: 2;
        margin-top: 200px;
        width: 400px;
        
    }
}

@media (max-width: 1070px) {
    .info_div{
        margin-left: 650px;
    }

    .form_texts_div{
        margin-top: 5px;
        height: 180px;
    }

    .form_subtitle{
        margin-top: 35px;
    }
}

@media (max-width: 1000px) {

    .form_texts_div{
        margin-top: 5px;
        height: 190px;
    }

    .form_subtitle{
        margin-top: 35px;
    }

    .info_div{
        margin-top: 800px;
        margin-bottom: 100px;
        align-items: center;
        justify-content: center;
        margin-left:0px;
        margin-right: 0px;
        width: 100%;
        
    }

    .card1_{
        z-index: 2;
        left: 5px;
        margin-top: 200px;
        width: 350px;
    }
    
    .card3_{
        left: 130px;
        z-index: 3;
        margin-top: 400px;
        width: 350px;
    }
    

}

@media (max-width: 890px) {

    .form_texts_div{
        margin-top: 5px;
        height: 180px;
    }

    .form_subtitle{
        margin-top: 30px;
    }

    .cards_div{
        margin-top: 50px;
    }

    .card1_{
        left: 5px;
        width: 250px;
    }
    
    .card2_{
        z-index: 1;
        margin-top: 100px;
        width: 350px;
    }
    
    .card3_{
        width: 250px;
    }
    
    .card4_{
        width: 300px;
        
    }

    .info_div{
        margin-top: 450px;
    }

}

@media (max-width: 830px) {

    .form_texts_div{
        margin-top: 5px;
        height: 160px;
    }


    .info_div{
        margin-top: 250px;
         
    }

    .card1_{
        left: 5px;
        width: 200px;
        margin-top: 250px;
    }
    
    .card2_{
        z-index: 1;
        margin-top: 100px;
        width: 350px;
    }
    
    .card3_{
        width: 250px;
        left: 20px;
        
    }
    
    .card4_{
        width: 250px;  
        margin-top: 250px;
        left: 180px;
    }

    .form_title{
        font-size: 50px;
    }

    .form_subtitle{
        font-size: 25px;
        margin-top: 40px;
    }

    .bottom_img{
        height: 70px;
    }

    

}

@media (max-width: 630px) {

    .form_texts_div{
        margin-top: 5px;
        height: 160px;
    }

    .space_between{
        height: 400px;
    }


    .head{
        display: grid;
        place-items: center;
        justify-content: center;
    }

    .head_div_1{
        margin-left: 0px;
        margin-top: 30px;
    }
    
    .head_div_2{
        margin-right: 0px;
        margin-top: 20px;
    }

    .head_btn_1, .head_btn_2, .head_btn_3{
        width: 50px;
        height: 50px;
    }

    .logo_discord, .logo_telegram{
        width: 25px;
        height: 20px;
    }

    .logo_instagram{
        width: 20px;
        height: 20px;
    }

    .form_texts_div{
        margin-top: 140px;
    
    }

    .card1_{
        left: -20px;
        width: 170px;
        margin-top: 280px;
    }
    
    .card2_{
        margin-top: 200px;
        width: 220px;
    }
    
    .card3_{
        width: 200px;
        left: -5px;
        margin-top: 380px;
    }
    
    .card4_{
        width: 200px;  
        margin-top: 290px;
        left: 170px;
    }

    .info_div{
        margin-top: 10px;
        margin-bottom: 100px;
    }

    .form_title{
        font-size: 45px;
    }

    .form_subtitle{
        font-size: 20px;
        margin-top: 30px;
    }

    .bottom_img{
        height: 60px;
    }

    
}

@media (max-width: 530px) {

    .form_texts_div{
        margin-top: 50px;
        height: 1px;
    }


    .card1_{
        left: 5px;
        width: 130px;
        margin-top: 300px;
    }
    
    .card2_{
        margin-top: 200px;
        width: 200px;
    }
    
    .card3_{
        width: 180px;
        left: -25px;
        margin-top: 370px;
    }
    
    .card4_{
        width: 150px;  
        margin-top: 300px;
        left: 150px;
    }

    .form_title{
        font-size: 40px;
    }

    .form_subtitle{
        font-size: 17px;
        margin-top:30px;
    }

    .form_name, .form_email, .submit_btn{
        width: 300px;
    }

    .form_name, .form_email{
    background-position: calc(100% - 320px) ;

    }


    .space_between{
        height: 420px;
    }

    .bottom_img{
        height: 50px;
    }



   
}

@media (max-width: 430px) {

    .form_texts_div{
        margin-top: 100px;
        height: 1px;
    }

    .form_name, .form_email{
        background-position: calc(100% - 270px) ;
    }


    .space_between{
        height: 400px;
    }

    .form_title{
        font-size: 35px;
    }

    .form_subtitle{
        font-size: 13px;
    }

    .form_name, .form_email, .submit_btn{
        width: 250px;
    }

    .card1_{
        left: -50px;
        width: 150px;
        margin-top: 300px;
    }
    
    .card2_{
        margin-top: 200px;
        width: 250px;
    }
    
    .card3_{
        width: 180px;
        left: -70px;
    }
    
    .card4_{
        width: 150px;  
        margin-top: 300px;
        left: 100px;
    }

    .bottom_img{
        height: 50px;
    }

    
}

@media (max-width: 360px) {

    .form_texts_div{
        margin-top: 130px;
        height: 1px;
    }

    .form_title{
        font-size: 28px;
    }

    .form_subtitle{
        font-size: 12px;
    }

    .form_name, .form_email, .submit_btn{
        width: 240px;
    }

    .form_name, .form_email{
        background-position: calc(100% - 260px) ;
    }

    .card1_{
        left: -80px;
        width: 150px;
        margin-top: 280px;
    }
    
    .card2_{
        margin-top: 200px;
        width: 240px;
    }
    
    .card3_{
        width: 180px;
        left: -90px;
    }
    
    .card4_{
        width: 120px;  
        margin-top: 300px;
        left: 100px;
    }

    .info1, .info2, .info3{
        width: 200px;

    }
    

}